<% include ./partials/header %>

<div class="container">
    <div class="row">
        
        <div style="width: 30%; margin: 25px auto;">
            <h1 class="text-center">Sign Up</h1>
            <form action="/register" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="firstName" placeholder="First name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="lastName" placeholder="Last name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="email">
                </div>
                <div class="form-group">
                    <textarea class="form-control" type="text" name="aboutme" placeholder="Write something about you" rows="10" cols="30"></textarea>
                </div>
                <% if (currentUser && currentUser.isAdmin) { %>
                <div class="form-group">
                    <input class="form-control" type="text" name="adminCode" placeholder="Admin Code">
                </div>
                <% } %>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
                </div>
            </form>
            <a href="/library">Go Back</a>
        </div>
    </div>
</div>

<% include ./partials/footer %>
