<% include ../partials/header %> 

<h1>Notifications</h1>

<ul>
	<% allNotifications.forEach(function(notification) { %>
	<li>
		<a href="/library/<%= notification.bookId %>">
			<%= notification.username %> reserved a book called <%= notification.bookName %>
		</a>
	</li>
	<% }); %>
</ul>

<% include ../partials/footer %> 