.img-thumbnail {
    margin-top: 50px
}

.delete-form {
    display: inline;
}

.checked {
    color: orange;
}

#jumbotron-top-margin {
    margin-top: 30px;
}

#navbar-bot-margin {
    margin-bottom: 10px;
}

#main-page-bot-margin {
    margin-bottom: 20px;
}